<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información sobre mí</title>
</head>
<body>
    <header>
        <h1>Mi Información Personal</h1>
    </header>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Un poco sobre mi</h2>
                    <p>Mi nombre es Diego Severo tengo 27 años, me considero una persona muy curiosa y por ello estoy aqui, quise indagar en este nuevo mundo, 
                        actualmente estoy trabajando en un sector en el cual no me enuentro del todo comodo, me forme en todos mis años laborale
                        en el area de prevencion de fraude y en las vacantes actuales de la bolsa de trabajo se valora el conocimiento de python
                        por este motivo tambien fue que me motivo a realizar el curso, si bien no es un sector al que me gustaria pertenecer creo que tener 
                        conocimientos de programacion siempre es bien recibido. 
                    </p>
                </div>
                <div class="col-md-6">
                   
                    <img src="{% static 'AppProyecto/post_images/IMG_4936.heic' %}" >
                </div>
            </div>
        </div>
    </section>

    
    <footer>
        <p>© 2023 - Diego Severo</p>
    </footer>
</body>
</html>